.student-owner {
    width: 300px;
    height: 300px;
    background-color: aquamarine;
    border: 2px solid black
}
.student-contributer {
    width: 300px;
    height: 300px;
    background-color: aquamarine;
    border: 2px solid black
}